/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Neon';
  src: url('neon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Neon', sans-serif;
  background: linear-gradient(to bottom,
              #111 0%,
              #333 10%,
              #00a794 61%,
              #ff007d 100%);
  background-attachment: fixed;
}

section {
  padding: 20px;
  max-width: 500px;
  margin-top: 20px;
  float: left;
  font-size: 2.5rem;
}

section a, section h2 {
  text-shadow:  0 0 1px #fff,
                0 0 5px #fff,
                0 0 6px #0098ff,
                0 0 12px #0098ff,
                0 0 18px #0098ff,
                0 0 35px #0098ff;
}

section a {
  margin-top: 5px;
  color: #fff;
  opacity: 0.3;
}

section a:hover {
  opacity: 1.0;
  text-shadow:  0 0 1px #fff,
                0 0 5px #fff,
                0 0 8px #0098ff,
                0 0 11px #0098ff,
                0 0 22px #0098ff,
                0 0 48px #0098ff,
                0 0 55px #0098ff;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

h1, h2 {
  font-size: 5rem;
  line-height: 5rem;
  color: #fff;
  font-weight: 800;
  margin-bottom: 10px;
}

h2 {
  text-shadow:  0 0 1px #fff,
                0 0 5px #fff,
                0 0 6px #ff008a,
                0 0 12px #ff008a,
                0 0 18px #ff008a,
                0 0 35px #ff008a;
}

h1 {
  animation: neontext 4s infinite;
}

@keyframes neontext {
  0% {
    text-shadow:  0 0 1px #fff,
                  0 0 5px #fff,
                  0 0 6px #ff008a,
                  0 0 12px #ff008a,
                  0 0 18px #ff008a,
                  0 0 35px #ff008a;
  }
  79% {
    color: #fff;
    text-shadow:  0 0 1px #fff,
                  0 0 5px #fff,
                  0 0 6px #ff008a,
                  0 0 12px #ff008a,
                  0 0 18px #ff008a,
                  0 0 35px #ff008a;
  }
  80% {
    color: #ff97dd;
    text-shadow:  0 0 1px #fff,
                  0 0 10px #ff008a;
  }
  81% {
    color: #fff;
    text-shadow:  0 0 1px #fff,
                  0 0 3px #fff,
                  0 0 6px #ff008a,
                  0 0 12px #ff008a,
                  0 0 18px #ff008a,
                  0 0 35px #ff008a;
  }
  83% {
    color: #ff97dd;
    text-shadow:  0 0 1px #fff,
                  0 0 10px #ff008a;
  }
  84% {
    color: #fff;
    text-shadow:  0 0 1px #fff,
                  0 0 3px #fff,
                  0 0 6px #ff008a,
                  0 0 10px #ff008a,
                  0 0 15px #ff008a;
  }
  100% {
    text-shadow:  0 0 1px #fff,
                  0 0 5px #fff,
                  0 0 6px #ff008a,
                  0 0 12px #ff008a,
                  0 0 18px #ff008a,
                  0 0 35px #ff008a;
  }
}

.palmtree {
  margin-top: 20px;
  width: 374px;
  filter: drop-shadow(0 0 1px #fff)
          drop-shadow(0 0 3px #fff)
          drop-shadow(0 0 5px #00fda1)
          drop-shadow(0 0 7px #00fda1)
          drop-shadow(0 0 15px rgba(0, 253, 161, 0.5));
  -webkit-filter: drop-shadow(0 0 1px #fff)
          drop-shadow(0 0 3px #fff)
          drop-shadow(0 0 5px #00fda1)
          drop-shadow(0 0 7px #00fda1)
          drop-shadow(0 0 15px rgba(0, 253, 161, 0.5));
}

.flamingo {
  width: 200px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;
  filter: drop-shadow(0 0 2px #fff)
          drop-shadow(0 0 3px #fff)
          drop-shadow(0 0 5px #fd15be)
          drop-shadow(0 0 10px #fd15be)
          drop-shadow(0 0 18px rgba(253, 21, 190, 0.5));
  -webkit-filter: drop-shadow(0 0 2px #fff)
          drop-shadow(0 0 3px #fff)
          drop-shadow(0 0 5px #fd15be)
          drop-shadow(0 0 10px #fd15be)
          drop-shadow(0 0 18px rgba(253, 21, 190, 0.5));
}